.section {
    position: relative;
    padding: 180px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section_number {
    position: absolute;
    top: 0;
    left: 138px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: .02;
    font-size: 400px;
    line-height: 1;
    z-index: -1;
}

#facts {
    /* padding: 120px 0; */
}

.section_number_right {
    right: 158px;
    left: unset !important;
}

.section_number_middle {
    top: 50%;
    transform: translateY(-50%);
}

.section_title {
    margin-bottom: 100px;

}

#our_rooms {
    padding-top: 0;
    padding-bottom: 0;
}

#cta::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
}

@media (max-width: 1500px) {
    .section_number {
        left: 8px;
    }

    .section_number_right {
        right: 8px;

    }

}

@media (max-width: 992px) {
    .section_title {
        text-align: center;
        margin-bottom: 70px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 100px 0;
    }

    .section_number {
        font-size: 260px;
    }

    .section_title {
        margin-bottom: 40px;
    }

    #cta {
        text-align: center;
    }

    #cta p {
        margin-bottom: 40px;
        text-align: ;
    }
}

@media (max-width: 576px) {
    .section {
        padding: 60px 0;
    }

    .section_number {
        font-size: 170px;
    }

    #cta::before {
        background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 50.52%, #242B33 100%), linear-gradient(0deg, rgba(36, 43, 51, 0.71), rgba(36, 43, 51, 0.71));
    }
}